{{#if reservations}}
{{#each reservations as |reservation|}}
<h1>{{reservations.business_name}}</h1>
<div id="show-reservation" class="row d-flex justify-content-center flex-wrap">

    <div id="reservationImg-wrapper" class="col-lg-4 col-md-4 col-sm-8">
        <img src="{{reservation.restaurant.business_image}}" alt="">
    </div>

    <div id="reservation-info" class="col-lg-4 col-md-4 col-sm-8">
        <ul>
            <li>
                <h2>{{reservation.restaurant.business_name}}</h2>
            </li>
            <li>{{reservation.restaurant.business_address}}</li>
            <li>{{reservation.restaurant.business_phone}}</li>
            <li><a href="{{reservation.restaurant.business_website}}"
                    target="_blank">{{reservation.restaurant.business_website}}</a>
            <li>
            <li>Party size: {{reservation.party_size}}</li>
            <li>Reservation Time: {{reservation.time_slot}}</li>
            <br>
            <a id="edit-reservation" href="/dashboard/edit_reservation/{{reservation.id}}">Edit Reservation</a>
        </ul>
    </div>
</div>
{{/each}}

{{else}}
<div>
    <h2 id="no-reservations">No reservation's scheduled</h2>
</div>
{{/if}}


<div class="btn-wrapper">
    <a href="/owner"><button id="primary-button">View My Restaurant's</button></a>
    <br>
    <a href="/dashboard/edit_user/{{user_id}}"><button id="primary-button">Edit User</button></a>
</div>