<h1>test</h1>


{{!-- {{#if hasReservation}}
<div id="show-reservation" class="col-8 d-flex justify-content-center flex-column"
    style="background-image: url(/images/{{restaurant.business_image}});">
    <div>
        <h1>{{restaurant.business_name}}</h1>
        <h2 id="no-reservation"></h2>
    </div>

    <div>
        <ul class="list-group">
            <li class="list-group-item active">Reservation Information</li>
            <li class="list-group-item">{{restaurant.business_address}}</li>
            <li class="list-group-item">{{restaurant.business_phone}}</li>
            <li class="list-group-item"><a href="{{restaurant.business_website}}"
                    target="_blank">{{restaurant.business_website}}</a>
            <li>
            <li class="list-group-item">{{Reservation.party_size}}</li>
            <li class="list-group-item">{{Reservation.time_slot}}</li>
        </ul>
    </div>


</div>
{{/if}}


{{#if hasRestaurant}}
<div id="show-restaurant" class="col-8 d-flex justify-content-center flex-column"
    style="background-image: url(/images/{{restaurant.business_image}});">
    <div>
        <h1>Owned Restaurant's</h1>
    </div>

    <div>
        <ul class="list-group">
            <li class="list-group-item active">{{restaurant.business_name}}</li>
            <li class="list-group-item">{{restaurant.business_address}}</li>
            <li class="list-group-item">{{restaurant.business_phone}}</li>
            <li class="list-group-item"><a href="{{restaurant.business_website}}"
                    target="_blank">{{restaurant.business_website}}</a>
            <li>

        </ul>
    </div>
</div>
{{/if}} --}}