<form class="edit_restaurant_form">
  <div>
    <label for="business_name_edit">restaurant name:</label>
    <input type="text" id="business_name_edit" value="{{restaurants.business_name}}" />
  </div>
  <div>
    <label for="business_occupancy_edit">occupancy:</label>
    <input type="number" id="business_occupancy_edit" value="{{restaurants.occupancy}}" />
  </div>
  <div>
    <label for="business_address_edit">address:</label>
    <input type="text" id="business_address_edit" value="{{restaurants.business_address}}" />
  </div>
  <div>
    <label for="business_phone_edit">phone number:</label>
    <input type="number" id="business_phone_edit" value="{{restaurants.business_phone}}" />
  </div>
  <div>
    <label for="business_hours_open_edit">when do you open?:</label>
    <input type="number" id="business_hours_open_edit" value="{{restaurants.business_hours_open}}" />
  </div>
  <div>
    <label for="business_hours_close_edit">when do you close?:</label>
    <input type="number" id="business_hours_close_edit" value="{{restaurants.business_hours_close}}" />
  </div>
  <div>
    <label for="business_website_edit">website:</label>
    <input type="url" id="business_website_edit" value="{{restaurants.business_website}}" />
  </div>
  <div>
    <label for="business_image_edit">image:</label>
    <input type="text" id="business_image_edit" value="{{restaurants.business_image}}" />
  </div>
  <div>
    <button id="primary-button" type="submit">Submit Changes</button>
  </div>
</form>

<button id="delete-button" class=".delete-restaurant-btn">Delete Restaurant</button>

<script src="/javascript/edit-restaurant.js"></script>
<script src="/javascript/delete-restaurant.js"></script>