<div class="row d-flex justify-content-center ">
    {{!-- List of restaurants --}}
    <div class="col-4">
        <h2>Available Reservations</h2>
        <div>
            <form>
                <label for="party_size">Party Size</label>
                <input type="number" id="party_size" min="1" max="100" value="2" />
            </form>
        </div>

        <div id="res-btns" class="d-flex flex-wrap gap-2">
            {{#each hoursObj as |hour|}}
            <button id="hour_{{@key}}" type="click" class="btn btn-light btn-sm" data-bs-toggle="modal"
                data-bs-target="#exampleModal">{{this}}</button>
            {{/each}}
        </div>
    </div>

    {{!-- Restaurant info pane --}}
    <div class="col-8 d-flex justify-content-center flex-column"
        style="background-image: url(/images/{{restaurant.business_image}})">
        <div>
            <h1>{{restaurant.business_name}}</h1>
        </div>

        <div>
            <ul class="list-group">
                <li class="list-group-item active">Restaurant Information</li>
                <li class="list-group-item">{{restaurant.business_address}}</li>
                <li class="list-group-item">{{restaurant.business_phone}}</li>
                <li class="list-group-item"><a href="{{restaurant.business_website}}"
                        target="_blank">{{restaurant.business_website}}</a></li>
            </ul>
        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reservation Confirmed</h5>
            </div>
            <div class="modal-body">
                Your reservation at {{restaurant.business_name}} is confirmed!
                <br>
                We sent a confirmation text to you at {{phoneNum}}
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="main-menu" type="button" class="btn btn-primary">Main Menu</button>
            </div>
        </div>
    </div>
</div>



<script src="../javascript/availability.js"></script>
<script src="../javascript/submit_reservation.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>