<div class="row d-flex justify-content-center ">
    {{!-- List of restaurants --}}
    <div class="col-4">
        <h2>Available Reservations</h2>
        <div>
            <form>
                <label for="party_size">Party Size</label>
                <input type="number" id="party_size" />
            </form>
        </div>

        <div id="res-btns" class="d-flex flex-wrap gap-2">
            {{#each hoursObj as |hour|}}
            <button id="hour_{{@key}}"" type=" click" class="btn btn-light btn-sm">{{this}}</button>
            {{/each}}
        </div>
    </div>

    {{!-- Restaurant info pane --}}
    <div class="col-8 d-flex justify-content-center flex-column"
        style="background-image: url(/images/{{restaurant.business_image}});">
        <div>
            <h1>{{restaurant.business_name}}</h1>
        </div>

        <div>
            <ul class="list-group">
                <li class="list-group-item active">Restaurant Information</li>
                <li class="list-group-item">{{restaurant.business_address}}</li>
                <li class="list-group-item">{{restaurant.business_phone}}</li>
                <li class="list-group-item"><a href="{{restaurant.business_website}}"
                        target="_blank">{{restaurant.business_website}}</a></li>
            </ul>
        </div>


    </div>
</div>

<script src="../javascript/availability.js"></script>
<script src="../javascript/submit_reservation.js"></script>